:root{
	--main-dark-color: #2666a6;
	--main-light-color: #85a6c7;
	--main-attack-color: #ee2024;
	--main-charge-color: #85a6c7;
	--main-force-color: #85a6c7;
}

#form-main{
	padding: 15px;
	margin: 0px;
}

.page-footer, nav{
	background-color: var(--main-dark-color);
}

nav div#breadcrumb{
	margin-left: 10px;
}

h1, h2, h3{
	color: var(--main-dark-color);
}

button a{
	color: #ffffff;
}

.tabs .tab a{
	color: var(--main-light-color);
	padding: 0px;
}

.tabs .tab a:hover, .tabs .tab a.active{
	color: var(--main-dark-color);
	padding: 0px;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
	background-color: rgba(133, 166, 199, 0.2);
}

.tabs .indicator {
	background-color: var(--main-light-color);
}

.tabs .tab a i{
	vertical-align: text-bottom;
	padding: 0px;
}

.xwingFont{
	font-family: XWing;
	font-style: normal;
	font-size: 1.5em;
	color: black;
}

.hidden{
	visibility: hidden;
}

div.actionSelectRow div{
	
}

div.actionSelectRow{
	display: flex;
	align-items: center;
}

div#selectIcons .col, div#selectCardType .col{
	margin: 1px 0;
	text-align: center;
	cursor:pointer;
}

div#selectCardType .col.selected{
	color: var(--main-dark-color);
}

div.disabledText{
	color: #c0c0c0;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: var(--main-light-color);
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: var(--main-dark-color);
}
.dropdown-content li>a, .dropdown-content li>span {
	color: var(--main-dark-color);
}

.btn{
	background-color: var(--main-dark-color);
}

.btn:hover{
	background-color: var(--main-light-color);
}

input.valid[type=text]:not(.browser-default){
	border-bottom: 2px var(--main-dark-color);
	box-shadow: 0 2px 0 0 var(--main-dark-color);
}

input[type=range]::-webkit-slider-thumb {
	background-color: var(--main-dark-color);
}

input[type=range]::-moz-range-thumb {
	background-color: var(--main-dark-color);
}

input[type=range]::-ms-thumb {
	background-color: var(--main-dark-color);
}

input[type="radio"].with-gap:checked+span:after, input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after, input[type="checkbox"].filled-in:checked+span:not(.lever):after {
	border: 2px solid var(--main-dark-color);
	background-color: var(--main-dark-color);
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid var(--main-dark-color);
}

span.badge{
	background-color: var(--main-dark-color);
	color: white;
	border: 1px;
	border-radius: 4px;
}

div.inputAttackColor span.badge{
	/*
	background-color: var(--main-attack-color);
	*/
}

div.inputContainer{
	text-align-last:justify;
}

div.inputContainer label input[type=checkbox]{
	display:inline-block;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: white;
}