:root{
	--main-dark-color: #2666a6;
	--main-light-color: #85a6c7;
}

#form-main{
	padding: 15px;
	margin: 0px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: var(--main-light-color);
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: var(--main-dark-color);
}
.dropdown-content li>a, .dropdown-content li>span {
	color: var(--main-dark-color);
}

.btn{
	background-color: var(--main-dark-color);
}

.btn:hover{
	background-color: var(--main-light-color);
}

input.valid[type=text]:not(.browser-default){
	border-bottom: 2px var(--main-dark-color);
	box-shadow: 0 2px 0 0 var(--main-dark-color);
}

input[type=range]::-webkit-slider-thumb {
	background-color: var(--main-dark-color);
}

input[type=range]::-moz-range-thumb {
	background-color: var(--main-dark-color);
}

input[type=range]::-ms-thumb {
	background-color: var(--main-dark-color);
}

input[type="radio"].with-gap:checked+span:after, input[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after, input[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid var(--main-dark-color);
    background-color: var(--main-dark-color);
}

span.badge{
	background-color: var(--main-dark-color);
	color: white;
	border: 1px;
	border-radius: 4px;
}

div.inputContainer{
	text-align-last:justify;
}

div.inputContainer label input[type=checkbox]{
	display:inline-block;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: white;
}